*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  padding: 8%;
}

.grid-container{
  width: 310px;
  height: 310px;
  border: 5px solid #212226;
}





/* grid styles */
.grid-container{
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr) ;
}

.grid-container .grid-item:nth-child(1) {
  /* grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 9; */


}

.grid-container .grid-item:nth-child(2) {
  /* grid-row-start: 3;
  grid-row-end: 8;

  grid-column-start: 7;
  grid-column-end: 8; */


}

.grid-container .grid-item:nth-child(3) {
  /* grid-row-start: 8;
  grid-row-end: 9;

  grid-column-start: -1;
  grid-column-end: -4; */

  
}






/* positioning & sizing grid-items inside a grid */
/* 
  grid-row-start: start-line;
  grid-row-end: end-line;

  grid-column-start: start-line;
  grid-column-end: end-line;
*/







/* grid styles */

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2rem;
}

.grid-container .grid-item:nth-child(1) {
  color: #1e4040;
  background-color: #71d99e;
}

.grid-container .grid-item:nth-child(2) {
  background-color: #3a8c70;
  color: #79d99e;
}
.grid-container .grid-item:nth-child(3) {
  background-color: #255954;
  color: #8de2ae;
  
}